body{
    background-color: #dcdcdc;
    font-size: 17px;
}

header {
    background-image: url("images/header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1590px 220px;
    color: #fff;
    height: 220px;
    display: flex;
    flex-direction: column;
}

header h1 {
 text-align: center;
 font-size: 35px;
 font-family: Georgia;
}

header h3 {
    text-align: center;
    font-size: 25px;
   }

header nav {
    text-align: center;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
  }

nav a {
      margin-right: 40px;
      font-size: 20px;

  }

a {
      text-decoration: none;
  }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


article {
    margin: auto;
    width: 60%;
    padding: 10px;
  }

  h2 {
      text-align: center;
  }

  hr {
      width: 75%;
  }

  footer {
        padding-top: 20px;
        padding-bottom: 20px;
        background: dimgray;
        text-align: center;
  }

article form {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-left: 100px;
}

article form div button {
    height: 25px;
    width: 65px;
    display: flex;
    flex-direction: row;
}

a:link {color: white;}
a:visited {color: gray;}
a:hover {color: lightblue;}
a:active {color:lightgray;}

/* Desktop */

@media all and (min-width: 800px) {
    article {
        width: 60%;
    }
  }